@import url('https://fonts.googleapis.com/css?family=Titan+One&display=swap');
.App {
  text-align: center;
}


.App-logo {
  max-height: 76px !important;
  position: absolute;
  left: 0px;
  top: -3px;
}

.App-Header
  {

    padding-left: 83px !important;

}
.navbar.is-warning, .App-Header:hover {

  background-color: #ed7902 !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

.pd-prodlist{
  
  padding: 49px !important;

padding-left: 60px !important;}

.spaceEvenly{
  justify-content: space-evenly;
}


.displayBlock{
  
    display: block !important;
}

